In [16]:
# Import de toutes les librairies nécessaires
import torch
import pandas as pd

# Challenge du titanic

Bienvenue au challenge du Titanic dans l'école d'été IA de Sorbonne Université, et du Campus des Métiers et des Qualifications.

Le dataset du titanic est un jeu de donnée très populaire afin de s'introduire à la science des données et à l'intelligence artificielle.

## Objectif

L'objectif de ce challenge est de prédire au mieux, basé sur un jeu de donnée existant, si un passager du Titanic a survécu ou non, dépendemment de paramètres spécifiques.

## 7 points à suivre

1. Classifier.
Comprendre quelles sont les classes dont nous parlons? Exemple: L'age du passager, si il a survécu, son nom etc...

2. Corréler.
Trouver une [corrélation]("https://www.nagwa.com/fr/explainers/968148323758/#:~:text=La%20corr%C3%A9lation%20d%C3%A9crit%20le%20lien%20entre%20deux%20variables.&text=Une%20corr%C3%A9lation%20positive%20signifie%20que,augmente%2C%20l'autre%20diminue."), un lien, entre deux variables.

3. Convertir.
Afin de pouvoir nourrir le modèle IA, il faut dans certains cas transformer la donnée pour que le modèle la comprenne. Une transformation peut être simplement la conversion d'une variable numérique en variable textuelle.

4. Complétion. 
Des fois, il nous manque des données comme on va voir en dessous. Les modèles d'IA ont besoin de données complètes. Nous estimerons donc certaines des données manquantes.

5. Corriger.
Des fois, la donnée n'est pas incomplète mais incorrecte. Nous pouvons détecter ces incohérences dans la donnée.

Créant. Pouvons-nous créer de nouvelles caractéristiques basées sur une caractéristique existante ou un ensemble de caractéristiques, de sorte que la nouvelle caractéristique respecte les objectifs de corrélation, de conversion, de complétude.

Graphiant. Comment sélectionner les bons graphiques et diagrammes de visualisation en fonction de la nature des données et des objectifs de la solution.

# Visualiser la donnée

En sciences de données, il est important de toujours visualiser ce que l'on manipule.

Nous allons en premier lieu, afficher la donnée que l'on a à disposition afin de mieux comprendre le problème posé.

In [25]:
# Ouverture des fichiers et lecture de la donnée à disposition

# Chemin d'accès du fichier de résultats de survie ou non
fichier_survie = 'data/gender_submission.csv'

# Lecture du fichier du sexe des personnes
dataframe_survie_personne = pd.read_csv('data/gender_submission.csv')
 
# Affichage des 5 premières lignes du fichier du sexe des personnes
print("Sexe des personnes")
print(dataframe_survie_personne.head())
print("---------------------------------------------")

# Chemin d'accès du fichier des données des personnes (train) (données d'entrainement)
fichier_donnees_personne_enrtainement = 'data/train.csv'

# Lecture du fichier des données des personnes (train) (données d'entrainement)
dataframe_donnees_entrainement = pd.read_csv('data/train.csv')

# Affichage des 5 premières lignes du fichier des données des personnes (train) (données d'entrainement)
print("Données d'entrainement")
print(dataframe_donnees_entrainement.head())
print("---------------------------------------------")

# Chemin d'accès du fichier des données des personnes (test)
fichier_donnees_personne_test = 'data/test.csv'

# Lecture du fichier des données des personnes (test)
dataframe_donnees_personne_test = pd.read_csv('data/test.csv')

# Affichage des 5 premières lignes du fichier des données des personnes (test)
print("Données de test")
print(dataframe_donnees_personne_test.head())

Sexe des personnes
   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1
---------------------------------------------
Données d'entrainement
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
---------------------------------------------
Données de test
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [26]:
# Visualiser les colonnes du fichier des données des personnes (train) (données d'entrainement)
print("Colonnes du fichier des données des personnes (train) (données d'entrainement):")
print(dataframe_donnees_entrainement.columns.values)

Colonnes du fichier des données des personnes (train) (données d'entrainement):
['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']

## Catégorie vs numérique?
Identifiez quelle colonne est catégorique, et quelle colonne est un nombre. 

Par exemple: `Sex` est catégorique, `Age` est numérique

## Description des données

Afin d'avoir le plus de contexte possible, pandas nous donne deux fonctions utiles:

1. `info()` nous permet de visualiser le type 
2. `describe()` nous permet de visualiser la distribution normale de chaque colonne.

In [31]:
dataframe_donnees_entrainement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [27]:
dataframe_donnees_entrainement.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [32]:
dataframe_donnees_entrainement.describe(include=['int64'])

       PassengerId    Survived      Pclass       SibSp       Parch
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642    0.523008    0.381594
std     257.353842    0.486592    0.836071    1.102743    0.806057
min       1.000000    0.000000    1.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000    0.000000    0.000000
50%     446.000000    0.000000    3.000000    0.000000    0.000000
75%     668.500000    1.000000    3.000000    1.000000    0.000000
max     891.000000    1.000000    3.000000    8.000000    6.000000

# Tr